
:root{
    /* Text Colors*/
    --color-text: hsl(218, 92%, 15%);
    --color-text-light: hsl(0, 0%, 100%);

    /* Background colors*/
    --color-bg-button: hsl(218, 92%, 15%);
    --color-bg-true: hsl(145, 55%, 75%);
    --color-bg-false: hsl(0, 100%, 50%);
    --color-bg-light: hsl(0, 0%, 100%);
}